<!-- <app-breadcrumb></app-breadcrumb>           
<div class="page">
    <div class="top-page">
        <div>
            <div class="d-flex">
                <i class="pi pi-search icon"></i>
                <h3 [translate]="'pageRequests.title'"></h3>
            </div>
            <span [translate]="'pageRequests.subTitle'"></span>
        </div>
        <div>
            <p-button (click)="clickNew()"  [label]="translate.instant('pageRequests.titleButton')" icon="pi pi-plus"></p-button>
        </div>
    </div>

    <app-card title="pageRequests.titleCard" [form]=form (filter)=handleFilter() (clean)=handleClean() (onChange)=onChangeValues() [control]=control [viewFIlter]=true [viewClean]=true></app-card>

    <app-table [cols]=colsTable [rows]=rowsTable  direction="request"></app-table>
</div> -->